<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          <button ng-click="takeAImage()">Take a photo!</button>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          <img id="myImage">
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
            <input type="text" ng-model="input">
            <input type="text" ng-model="input">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
