<div>
    <br>
    <div class="row">
        <div class="col-sm-1"><input type="text" class="form-control" placeholder="Enter task" style="width:70%" ng-model="task"></div>
        <div class="col-sm-1"><button class="btn btn-primary" style="float:right; margin-top: -10.5%;" ng-click="addTask()">Add Task</button></div>
    </div><br>

    <div ng-if=" loading == true ">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
    <div ng-if=" loading == false ">
      <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>

    <table class="table table-striped">
        <tr>
            <td><b>#</b></td>
            <td></td>
            <td><b>Task</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="task in tasks">
            <td>{{$index+1}}</td>
            <td>
               <div ng-if=" task.complite == true ">
                  <input type="checkbox" checked ng-click="completeTask($index)">
               </div>
               <div ng-if=" task.complite == false " ng-click="completeTask($index)">
                  <input type="checkbox">
               </div>
            </td>
            <td>{{task.title}}</td>
            <td><button class="btn btn-danger" ng-click="deleteTask($index)">R</button></td>
        </tr>
    </table>
</div>