


<ion-view>
<div class="topBar">
    <span ng-click="refresh()" ng-hide="loading" ><i class="fa fa-refresh fa-2x"></i></span>
    <span ng-show="loading"><i class="fa fa-spinner fa-pulse fa-3x"></i></span>
    <span><i class="fa fa-user-plus fa-2x"></i></span>
    <span ng-click="deletelist()"><i class="fa fa-trash-o fa-2x"></i></span>
</div>
<div class="content-block">

	<div class="headline-1">
	    <span class="itemCount">{{currentTask}}</span>
	    <h3>{{title}}</h3>
	</div>

	<div class="add-item-container">
		<input type="text" placeholder="add item ..." ng-model="itemTitle">
		<span ng-click="addItem()"><i class="fa fa-plus fa-2x"></i></span>
	</div>

	<div class="items-list-container" >

		<div ng-repeat="items in selectedList | filter: { title: serchword }" class="items-list-block" ng-animate="slide" ng-class=" (items.complete) ? 'completed' : ''">
			<span ng-click="completeTask($index)"><i class="fa  fa-3x" ng-class=" (items.complete) ? 'fa-check-square-o completedcheck' : 'fa-square-o'"></i></span>
			<p>{{ items["content"] || items["title"] }}</p>
			<span class="close-icon" ng-click="deleteItem($index)"><i class="fa fa-close fa-2x"></i></span>
		</div>


	</div>

</div>



        <div class="search-bar">
            <input type="text" class="search-input-header" placeholder="search...">
        </div>

        <div class="hide-on-keyboard-open">
            <div class="ham-menu" ng-click="menuAction()">
                <div ng-class="hamburgerHandler">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
            </div>

            <div ng-class="menuHandler">

                <div class="block search" ng-click="search()">
                    <span class="one">
                        <i class="fa fa-search fa-2x"></i>
                    </span>
                </div>

                <div class="block home"><a ng-href="#/lists">
                    <span class="three">
                        <i class="fa fa-home fa-2x "></i>
                    </span></a>
                </div>
                <div class="block "><a  ng-href="#/profile">
                    <span class="four">
                        <i class="fa fa-cog fa-2x"></i>
                    </span></a>
                </div>
                <div class="block "><a  ng-href="#/">
                    <span class="five">
                        <i class="fa fa-power-off fa-2x"></i>
                    </span></a>
                </div>


            </div>
        </div>
<div ng-init="init()"></div>
</ion-view>
