<ion-view>
    <div id="login-wrap">
        <div id="login-side" class="shadow">
            <div class="front face">

                <div class="logo">
                    <!--<h3>.list</h3>-->
                    <div class="logoImg">
                        <img src="img/logo1.png" alt="">
                    </div>
                </div>
                <p class="error-message">{{ errormsg }}</p>


                <input type="text" class="login-input-form" placeholder="E-mail" ng-model="username">

                <input type="password" class="login-input-form" placeholder="Password" ng-model="password">


                <!--<a href="#/lists"> <input type="button" class="login-btn2" value="Login"> </a>-->
                <input type="button" class="login-btn2" ng-click="login()" value="Login">
                <input type="button" id="register" class="login-btn2" value="Sign up" ng-click="flip()">

            </div>

            <div class="back face center">
                <div class="logo">
                    <h4>Welcome</h4>
                </div>

                <div class="slogan"><p>Fill in this form to register!</p></div>
                    <p class="error-message">{{ errormsg }}</p>
                
                <div class="registerForm2">

                    <input ng-model="regUsername" type="text" class="full-form" placeholder="Username">
                    <input ng-model="regEmail" type="text" class="full-form" placeholder="Email">
                    <input ng-model="regPassword" type="password" class="full-form" placeholder="Password">
                    <input ng-model="regRetype" type="password" class="full-form" placeholder="Retype Password">

                </div>

                <input type="button" id="registerBack" class="login-btn2" value="Register" ng-click="regUser()">


            </div>
        </div>
    </div>
</ion-view>
