
<ion-view>
<div class="topBar">
    <span ng-click="refresh()" ng-hide="loading" ><i class="fa fa-refresh fa-2x"></i></span>
    <span ng-show="loading"><i class="fa fa-spinner fa-pulse fa-3x"></i></span>
    <span id="add-plus" ng-click="openModal()"><i class="fa fa-plus fa-2x"></i></span>
    <span><i class="fa fa-pencil fa-2x"></i></span>
</div>
<div class="content-block">
            
    <div class="headline-">
        <span class="itemCount">{{allLists.length}}</span>
        <h3>Your lists</h3>
    </div>

    <div class="lists-content">

        <div class="listBlockWrap" ng-repeat="list in allLists">
            <div  class="allListBlock" ng-click="listOptions($event)">

                <div class="allListTitle"><p>{{list.title| limitTo: 20}}{{list.title.length>20 ?"...": ""}}</p></div>

                <div class="forward-icon"><a href="#/activelist/{{ list.id }}">
                        <span><i class="fa fa-chevron-right fa-2x"></i></span></a>
                </div>
               
            </div>

            <!-- Fixa så att bara admin av listan ser options -->
            
             <div class="list-options">
                <div class="flip-container">
                    <span class="flipped" style="display: none;">0</span>
                    <div class="first-side">
                        <div class="front-side">
                            <span><i class="fa fa-pencil fa-2x"></i></span>
                            <span ng-click="flip($event)"><i class="fa fa-user-plus fa-2x"></i></span> 
                            <span ng-click="deleteList($index)"><i class="fa fa-trash-o fa-2x"></i></span>
                        </div>
                        <div class="back-side facet">
                            <div class="add-user">
                                <input type="text" placeholder="Add user">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

   
</div>



        <div id="overlay">
            <div class="modalen">
                <span class="close" ng-click="closeModal()"><i class="fa fa-close"></i></span>
                <div class="head">
                    <input type="text" ng-model="listTitle" placeholder="Add Title..."  onfocus="this.placeholder = ''" onblur="this.placeholder = 'add title...'" />
                </div>
                <hr>
                <div class="addList">
                    <input ng-model="itemTitle" type="text" class="add-list-title" placeholder="Task..."  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Task...'" /><span ng-click="addItem()"><i class="fa fa-plus fa-2x"></i></span>
                </div>
                
                <div class="item-wrap">
                    <div class="item" ng-repeat="item in list">
                        <p>{{item.title | limitTo: 20}}{{item.title.length>20 ?"...": ""}}</p>
                        <div class="delete-item" ng-click="deleteItem($index)"><i class="fa fa-close"></i></div>

                    </div>
                </div>
                <div class="add-list-wrap">
                <span class="add-list" ng-click="createList()"><i class="fa fa-check fa-2x"></i></span>
            </div>
            </div>
            
        </div>
        
     

        <div class="search-bar">
            <input type="text" class="search-input-header" placeholder="search...">    
        </div>
        
        <div class="hide-on-keyboard-open">
            <div class="ham-menu" ng-click="menuAction()">
                <div ng-class="hamburgerHandler">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
            </div>

            <div ng-class="menuHandler">

                <div class="block search" ng-click="search()">
                    <span class="one">
                        <i class="fa fa-search fa-2x"></i>
                    </span>
                </div>
               
                <div class="block home"><a ng-href="#/lists">
                    <span class="three">
                        <i class="fa fa-home fa-2x "></i>
                    </span></a>
                </div>
                <div class="block "><a  ng-href="#/profile">
                    <span class="four">
                        <i class="fa fa-cog fa-2x"></i>
                    </span></a>
                </div>
                <div class="block "><a  ng-href="#/">
                    <span class="five">
                        <i class="fa fa-power-off fa-2x"></i>
                    </span></a>
                </div>


            </div>
        </div>
    
<div ng-init="init()"></div>
</ion-view>