/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open sans";
  src: url(../fontAwesome/Open_Sans/OpenSans-Semibold.ttf); }
#login-wrap {
  position: relative;
  margin: 25% auto;
  width: 90%;
  height: 400px;
  z-index: 1; }

#login-wrap {
  perspective: 1000; }
  #login-wrap #login-side {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s linear; }
  #login-wrap .face {
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, rgba(135, 178, 187, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%);
    height: 450px;
    padding: 20px 0 30px 0;
    backface-visibility: hidden;
    box-shadow: 0 0 5px #000; }
    #login-wrap .face .logo {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      #login-wrap .face .logo .logoImg {
        width: 150px;
        margin-bottom: 30px; }
        #login-wrap .face .logo .logoImg img {
          max-width: 100%; }
      #login-wrap .face .logo h3 {
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;
        display: block;
        text-shadow: 0px 4px 9px #969696; }
      #login-wrap .face .logo h4 {
        margin-top: 10px;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        text-shadow: 0px 4px 9px #969696; }
    #login-wrap .face .slogan {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin-bottom: 20px;
      color: #fff; }
    #login-wrap .face .login-input-form {
      width: 80%;
      height: 20px;
      margin: 0 auto 50px auto;
      display: block;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #FDFCFD;
      font-size: 20px;
      outline: none; }
    #login-wrap .face ::-webkit-input-placeholder {
      color: #FDFCFD;
      font-size: 16px;
      text-transform: uppercase; }
    #login-wrap .face .login-btn {
      background: transparent;
      color: #fff;
      display: block;
      width: 80%;
      border-radius: 15px;
      padding: 10px;
      font-size: 20px;
      border: 1px solid #FDFCFD;
      margin: 0 auto 10px auto; }
  #login-wrap .back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    height: 450px;
    color: white;
    text-align: center; }

.backLogo {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .backLogo h2 {
    font-size: 30px; }
  .backLogo p {
    font-size: 12px; }

.registerForm {
  width: 80%;
  margin: 25px auto 40px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .registerForm .name {
    width: 45%;
    height: 20px;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #FDFCFD;
    font-size: 20px;
    outline: none; }
  .registerForm ::-webkit-input-placeholder {
    font-size: 14px !important; }

.registerForm2 {
  width: 80%;
  margin: 20px auto 70px; }
  .registerForm2 .full-form {
    width: 100%;
    height: 20px;
    margin: 0 auto 40px auto;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #FDFCFD;
    font-size: 20px;
    outline: none; }
  .registerForm2 ::-webkit-input-placeholder {
    font-size: 14px !important; }

.spinner {
  height: 40px;
  width: 40px;
  font-size: 40px;
  position: relative;
  margin: 5px auto;
  color: #fff;
  z-index: 999;
  display: none; }

.topBar {
  width: 100%;
  height: 10%;
  background: #232323;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }
  .topBar span {
    width: 20%;
    height: 100%;
    margin-right: 1px;
    color: #ccc;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    cursor: pointer; }

.content-block {
  width: 100%;
  height: 90%;
  background: #323232;
  border-top: 1px solid #1f1f1f;
  position: fixed;
  bottom: 0;
  color: #fff; }
  .content-block .headline- {
    width: 100%;
    height: 40px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .content-block .lists-content {
    width: 100%;
    height: 70%;
    overflow: auto; }
    .content-block .lists-content .allListBlock {
      width: 90%;
      height: 60px;
      margin: 0 auto 2px;
      background: #fff;
      box-shadow: 0 0 3px #000;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: start; }
      .content-block .lists-content .allListBlock .allListTitle {
        width: 80%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }
        .content-block .lists-content .allListBlock .allListTitle p {
          margin-left: 20px;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
          color: #333; }
      .content-block .lists-content .allListBlock .forward-icon {
        height: 100%;
        width: 20%; }
        .content-block .lists-content .allListBlock .forward-icon a {
          color: #1f1f1f; }
        .content-block .lists-content .allListBlock .forward-icon span {
          height: 100%;
          width: 100%;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          -moz-box-align: center;
          box-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          align-items: center;
          -ms-flex-align: center; }

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none; }
  #overlay .modalen {
    width: 90%;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 10px #000;
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: 11;
    display: none;
    padding: 10px; }
    #overlay .modalen hr {
      width: 100%;
      margin: 0 auto;
      border: none;
      border-bottom: 1px solid #E2E2E2; }
    #overlay .modalen .head {
      padding: 10px; }
      #overlay .modalen .head input {
        border: none;
        height: 40px;
        font-size: 20px;
        color: #333;
        outline: none;
        text-transform: capitalize; }
      #overlay .modalen .head ::-webkit-input-placeholder {
        color: #333;
        font-size: 20px;
        font-weight: bold; }
    #overlay .modalen .addList {
      width: 70%;
      margin: 10px auto 10px auto;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; }
      #overlay .modalen .addList .add-list-title {
        width: 70%;
        border-bottom: 1px solid #ddd; }
      #overlay .modalen .addList ::-webkit-input-placeholder {
        color: #333;
        font-size: 16px;
        font-weight: bold; }
      #overlay .modalen .addList span {
        width: 20%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }

.item-wrap {
  position: relative;
  width: 100%;
  max-height: 220px;
  overflow: scroll; }
  .item-wrap .item {
    width: 85%;
    margin: 10px auto;
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    background: linear-gradient(to bottom, rgba(152, 152, 152, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    padding: 5px;
    text-transform: capitalize;
    box-shadow: 0 0 3px #000; }
    .item-wrap .item input[type=checkbox] {
      visibility: hidden; }
    .item-wrap .item .checkbox {
      width: 10%;
      z-index: 99;
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
  .item-wrap p {
    max-width: 80%;
    line-height: 1.5;
    font-size: 12px;
    padding: 0 5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .item-wrap .delete-item {
    width: 10%;
    margin-left: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer; }

.add-list-wrap {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .add-list-wrap .add-list {
    height: 50px;
    width: 50px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #1f1f1f;
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }

.itemCount {
  position: absolute;
  left: 10%;
  margin-top: -15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #333;
  background: lightcoral;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.headline-1 {
  width: 100%;
  height: 40px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.add-item-container {
  position: relative;
  width: 100%;
  height: 70px;
  margin-bottom: 30px; }
  .add-item-container input {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    padding: 0 70px 0 20px; }
  .add-item-container ::-webkit-input-placeholder {
    color: #333;
    text-transform: capitalize; }
  .add-item-container span {
    position: absolute;
    width: 13%;
    height: 100%;
    right: 7.5%;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    color: #333; }

.items-list-container {
  position: relative;
  width: 100%;
  height: 55%;
  overflow: auto; }
  .items-list-container .items-list-block {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto 2px;
    background: #fff;
    box-shadow: 0 0 3px #000;
    text-transform: capitalize;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    transition: all 600ms; }
  .items-list-container .completed {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    transition: all 600ms; }
    .items-list-container .completed p {
      color: #fff;
      opacity: 0.4; }
    .items-list-container .completed .close-icon {
      color: #fff;
      opacity: 0.4; }
  .items-list-container .completedcheck {
    color: #fff;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    transition: all 600ms; }
  .items-list-container span {
    width: 20%;
    color: #333;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .items-list-container p {
    width: 60%;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
  .items-list-container .close-icon {
    width: 20%;
    color: #333;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }

.profile-content {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: no-wrap;
  -moz-box-lines: no-wrap;
  box-lines: no-wrap;
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.option-circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin: 20% 0; }
  .option-circle p {
    font-size: 14px;
    font-weight: bold; }

body {
  overflow-x: none;
  font-family: "Open sans";
  font-size: 12px;
  color: #1f1f1f; }
  body a {
    text-decoration: none;
    list-style: none; }
  body p {
    padding: 10px; }
  body h3 {
    color: #fff !important; }

ion-view {
  background: url("../img/bg.jpg") center center, no-repeat;
  background-position: cover; }

#bg {
  height: 100%;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0; }

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #333;
  display: none;
  z-index: 999; }
  .search-bar .search-input-header {
    border: none;
    font-family: "Open sans";
    border-bottom: 1px solid #ccc;
    margin: 5px 0 0 20px;
    height: 65%;
    width: 90%;
    background: transparent;
    padding-left: 20px;
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .search-bar input:focus {
    outline: none; }
  .search-bar ::-webkit-input-placeholder {
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }

.ham-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #ddd;
  display: flex;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .ham-menu .hamburger {
    position: relative;
    margin-top: 0;
    height: 50px;
    width: 50px;
    background: lightcoral;
    border-radius: 50%;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    transition: all 800ms; }
  .ham-menu .hamburger-open {
    position: relative;
    margin-top: -160px;
    height: 50px;
    width: 50px;
    background: lightcoral;
    border-radius: 50%;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    transition: all 800ms; }

.menu-bar {
  position: fixed;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  transition: all 1000ms;
  z-index: 999; }
  .menu-bar .block {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    cursor: pointer; }
    .menu-bar .block span {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid #ddd;
      color: #ddd;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }

.menu-bar-open {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  transition: all 1000ms;
  z-index: 999; }
  .menu-bar-open .block {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    cursor: pointer; }
    .menu-bar-open .block span {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid #ddd;
      color: #ddd;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
