/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open sans";
  src: url(../fontAwesome/Open_Sans/OpenSans-Semibold.ttf); }
.meny {
  width: 100%;
  height: 70%;
  background: #323232;
  border-top: 1px solid #1f1f1f;
  position: fixed;
  bottom: 0;
  color: #fff; }
  .meny .headline- {
    width: 100%;
    height: 40px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .meny .meny-content {
    width: 100%;
    height: 300px;
    overflow: auto; }
    .meny .meny-content .listBlockWrapper {
      min-height: 300px;
      width: 100%; }
      .meny .meny-content .listBlockWrapper .allListBlock {
        width: 85%;
        margin: 10px auto;
        height: 40px;
        color: #333;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 10px #000; }
        .meny .meny-content .listBlockWrapper .allListBlock .allListTitle {
          width: 80%;
          height: 100%;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -moz-box-pack: start;
          box-pack: start;
          -webkit-justify-content: flex-start;
          -moz-justify-content: flex-start;
          -ms-justify-content: flex-start;
          -o-justify-content: flex-start;
          justify-content: flex-start;
          -ms-flex-pack: start;
          -webkit-box-align: center;
          -moz-box-align: center;
          box-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          align-items: center;
          -ms-flex-align: center; }
          .meny .meny-content .listBlockWrapper .allListBlock .allListTitle p {
            margin-left: 20px;
            font-size: 14px;
            letter-spacing: 1px; }
        .meny .meny-content .listBlockWrapper .allListBlock .forward-icon {
          height: 100%;
          width: 20%;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          -moz-box-align: center;
          box-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          align-items: center;
          -ms-flex-align: center; }

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #1f1f1f;
  display: none;
  z-index: 999; }
  .search-bar .search-input-header {
    border: none;
    font-family: "Open sans";
    border-bottom: 1px solid #ccc;
    margin: 5px 0 0 20px;
    height: 65%;
    width: 90%;
    background: transparent;
    padding-left: 20px;
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .search-bar input:focus {
    outline: none; }
  .search-bar ::-webkit-input-placeholder {
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }

.ham-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #ddd;
  display: flex;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .ham-menu .hamburger {
    position: relative;
    height: 50px;
    width: 50px;
    background: lightcoral;
    border-radius: 50%;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    transition: all 800ms; }

#menu-bar {
  position: fixed;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  transition: all 1000ms;
  z-index: 999; }
  #menu-bar .block {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    cursor: pointer; }
    #menu-bar .block span {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid #ddd;
      color: #ddd;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none; }
  #overlay .modal {
    width: 90%;
    height: 370px;
    background: #fff;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    position: relative;
    margin: 40% auto 0;
    z-index: 11;
    display: none;
    padding: 10px;
    overflow: auto; }
    #overlay .modal hr {
      width: 100%;
      margin: 0 auto;
      border: none;
      border-bottom: 1px solid #E2E2E2; }
    #overlay .modal .head {
      padding: 10px; }
      #overlay .modal .head input {
        border: none;
        height: 40px;
        font-size: 20px;
        color: #333;
        border-bottom: 1px solid #ccc;
        outline: none; }
      #overlay .modal .head ::-webkit-input-placeholder {
        color: #333;
        font-size: 20px; }
    #overlay .modal .addList {
      padding: 10px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      #overlay .modal .addList input {
        border: none;
        width: 40%;
        height: 40px;
        font-size: 16px;
        color: #333;
        border-bottom: 1px solid #ccc;
        outline: none; }
      #overlay .modal .addList ::-webkit-input-placeholder {
        color: #333;
        font-size: 16px; }
      #overlay .modal .addList span {
        height: 30px;
        width: 30px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }
    #overlay .modal .item-wrap {
      width: 100%;
      min-height: 400px; }
      #overlay .modal .item-wrap .item {
        width: 85%;
        margin: 10px auto;
        height: 40px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
        background: linear-gradient(to bottom, rgba(152, 152, 152, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
        padding: 5px;
        box-shadow: 0 0 3px #000; }
        #overlay .modal .item-wrap .item input[type=checkbox] {
          visibility: hidden; }
        #overlay .modal .item-wrap .item .checkbox {
          width: 10%;
          z-index: 99;
          position: relative; }
        #overlay .modal .item-wrap .item .checkbox label {
          cursor: pointer;
          position: absolute;
          height: 40px;
          width: 40px;
          top: 0;
          left: 0;
          border-radius: 4px;
          -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
          -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
          background: rgba(50, 50, 50, 0.1);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 ); }
        #overlay .modal .item-wrap .item .checkbox label:after {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          filter: alpha(opacity=0);
          opacity: 0;
          content: "";
          position: absolute;
          width: 35px;
          height: 10px;
          background: transparent;
          top: 4px;
          left: 4px;
          border: 3px solid #fcfff4;
          border-top: none;
          border-right: none;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        #overlay .modal .item-wrap .item .checkbox label:hover::after {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
          filter: alpha(opacity=30);
          opacity: 0.3; }
        #overlay .modal .item-wrap .item .checkbox input[type=checkbox]:checked + label:after {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100);
          opacity: 1; }
      #overlay .modal .item-wrap p {
        max-width: 80%;
        line-height: 1.5;
        font-size: 12px;
        padding: 0 5px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }
      #overlay .modal .item-wrap .delete-item {
        width: 10%;
        margin-left: 5px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }
    #overlay .modal .close {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 16px;
      padding: 5px 10px;
      cursor: pointer; }
    #overlay .modal .add-list {
      position: absolute;
      right: 10px;
      height: 40px;
      width: 40px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #1f1f1f;
      border-radius: 50%;
      cursor: pointer;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }

.itemBox {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border: 1px solid #666;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .itemBox input {
    height: 30px; }
  .itemBox p {
    text-transform: uppercase;
    font-size: 16px;
    color: #1f1f1f;
    margin-left: 20px; }

@font-face {
  font-family: "Open sans";
  src: url(../fontAwesome/Open_Sans/OpenSans-Semibold.ttf); }
body {
  background: #fff;
  overflow-x: none;
  font-family: "Open sans";
  font-size: 12px;
  color: #1f1f1f; }
  body a {
    text-decoration: none; }
  body p {
    padding: 10px; }

.login-bg {
  background: url("http://i.imgur.com/UP7fWfg.jpg") center center, no-repeat;
  background-position: cover; }

#f1_container {
  position: relative;
  margin: 25% auto;
  width: 90%;
  height: 400px;
  z-index: 1; }

#f1_container {
  perspective: 1000; }
  #f1_container #f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s linear; }
  #f1_container .face {
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, rgba(135, 178, 187, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%);
    height: 100%;
    padding: 20px 0 30px 0;
    backface-visibility: hidden; }
    #f1_container .face .logo {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      #f1_container .face .logo h3 {
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;
        display: block;
        text-shadow: 0px 4px 9px #969696; }
      #f1_container .face .logo h4 {
        margin-top: 10px;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        text-shadow: 0px 4px 9px #969696; }
    #f1_container .face .slogan {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin-bottom: 20px;
      color: #fff; }
    #f1_container .face .login-input-form {
      width: 80%;
      height: 20px;
      margin: 0 auto 50px auto;
      display: block;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #FDFCFD;
      font-size: 20px;
      outline: none; }
    #f1_container .face ::-webkit-input-placeholder {
      color: #FDFCFD;
      font-size: 16px;
      text-transform: uppercase; }
    #f1_container .face .login-btn {
      background: transparent;
      color: #fff;
      display: block;
      width: 80%;
      border-radius: 15px;
      padding: 10px;
      font-size: 20px;
      border: 1px solid #FDFCFD;
      margin: 0 auto 10px auto; }
  #f1_container .back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    height: 450px;
    color: white;
    text-align: center; }

.backLogo {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .backLogo h2 {
    font-size: 30px; }
  .backLogo p {
    font-size: 12px; }

.registerForm {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .registerForm .name {
    width: 45%;
    margin-right: 2.5%;
    height: 20px;
    margin: 0 auto;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #FDFCFD;
    font-size: 20px;
    outline: none; }
  .registerForm ::-webkit-input-placeholder {
    font-size: 14px !important; }

.registerForm2 {
  width: 80%;
  margin: 20px auto;
  /*.login-wrap
   * width: 90%
   * margin: 25% auto
   * background: linear-gradient(to bottom, rgba(135, 178, 187, 0.7) 0%, rgba(0,0,0,0.4) 100%)
   * padding: 20px 0 30px 0 
   * box-shadow: 0 0 10px #000
   * perspective: 1000
   * position: relative
   *
   *
   * .logo
   * 	width: 100%
   * 	height: auto
   * 	+display(flex)
   * 	+align-items(center)
   * 	+justify-content(center)
   *
   *
   * 	h3
   * 		font-family: 'Open sans'
   * 		font-size: 60px
   * 		color: #fff
   * 		text-transform: uppercase
   * 		letter-spacing: 10px
   * 		display: block
   * 		text-shadow: 0px 4px 9px rgba(150, 150, 150, 1)
   *
   *
   *
   * .slogan
   * 	+display(flex)
   * 	+align-items(center)
   * 	+justify-content(center)
   * 	margin-bottom: 30px
   *
   * 	color: #fff
   *
   *
   * .login-input-form
   * 	width: 80%
   * 	height: 50px
   * 	margin: 0 auto 20px auto
   * 	display: block
   * 	background: transparent
   * 	border: none
   * 	border-bottom: 1px solid #fff
   * 	color: #FDFCFD
   * 	font-size: 20px
   * 	outline: none
   *
   * ::-webkit-input-placeholder
   * 	color: #FDFCFD
   * 	font-size: 16px
   * 	font-weight: bold
   * 	text-transform: uppercase
   *
   *
   *
   * .login-btn
   * 	background: transparent
   * 	color: #fff
   * 	display: block
   * 	width: 80%
   * 	border-radius: 15px
   * 	padding: 10px
   * 	font-size: 20px
   * 	border: 1px solid #FDFCFD
   * 	margin: 0 auto 10px auto */ }
  .registerForm2 .full-form {
    width: 100%;
    height: 20px;
    margin: 0 auto 50px auto;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #FDFCFD;
    font-size: 20px;
    outline: none; }
  .registerForm2 ::-webkit-input-placeholder {
    font-size: 14px !important; }
