@import "bourbon"
@import "reset"
@import "home"
@import "listview"
@import "modal"



body 
	overflow-x: none
	font-family: 'Open sans'
	font-size: 12px
	color: #1f1f1f

	a
		text-decoration: none

	p
		padding: 10px

	h3 
		color: #fff !important

ion-view
	background: url('../img/bg.jpg') center center, no-repeat
	background-position: cover

	