

.spinner
	+size(40px)
	font-size: 40px
	position: relative
	margin: 5px auto
	color: #fff
	z-index: 999
	display: none
		


//Content block

.content-block
	width: 100%
	height: 90%
	background: rgba(50,50,50,0.4)
	border-top: 1px solid #1f1f1f
	position: fixed
	bottom: 0
	color: #fff

	//Headline for contentblock
	.headline-
		width: 100%
		height: 40px
		color: #fff
		margin-bottom: 20px
		text-transform: uppercase
		font:
			weight: bold
			size: 18px
		letter-spacing: 3
		+display(flex)
		+align-items(center)
		+justify-content(center)

	//Holding the lists in content block, scrollable
	.lists-content
		width: 100%
		height: 70%
		overflow: auto

		//created lists
		.allListBlock
			width: 90%
			height: 60px
			margin: 0 auto 2px
			background: rgba(255,255,255,0.8)
			text-transform: capitalize
			box-shadow: 0 0 3px #000
			+display(flex)
			+flex-wrap(wrap)
			+justify-content(flex-start)

			.allListTitle 
				width: 80%
				height: 100%
				+display(flex)
				+justify-content(flex-start)
				+align-items(center)

				p 
					margin-left: 20px
					font:
						weight: bold
						size: 14px
					letter-spacing: 1px
					color: #333
		
			//Forward icon - goes in to activeList
			.forward-icon
				height: 100%
				width: 20%
				
			
				a 
					color: #1f1f1f
			
				span 
					+size(100%)
					+display(flex)
					+justify-content(center)
					+align-items(center)


		//List options
		.list-options
			position: relative
			width: 90%
			height: 40px
			margin: 0 auto 10px
			color: #000
			+display(flex)
			+flex-wrap(wrap)
			+justify-content(space-between)
			display: none


			#flip-container
				position: relative
				width: 100%
				height: 40px
				z-index: 1


			#flip-container
				perspective: 1000


				#first-side 
					width: 100%
					height: 100%
					transform-style: preserve-3d
					transition: all 1.0s linear
					background: rgba(255,255,255,0.8)
					
				

					span 
						width: 25%
						height: 40px
						float: left
						cursor: pointer
						+display(flex)
						+justify-content(center)
						+align-items(center)

				

				.facet
					position: absolute
					width: 100%
					height: 100%
					backface-visibility: hidden
					
				
				.back-side.facet
					display: block
					height: 40px
					color: white
					background: green
					transform: rotateX(180deg)

					.add-user
						position: relative
						width: 100%
						height: 40px
						color: #000
						+display(flex)
						+flex-wrap(wrap)
						+justify-content(space-between)
						box-shadow: 0 0 3px #000


						input 
							border: none
							width: 100%
							height: 40px
							background: #dbdddd
							padding-left: 10px
							font:
								weight: bold
								size: 14px

						::-webkit-input-placeholder
							color: #333
							text-transform: capitalize
				


	








